{{!-- Entry template --}}
<article class="entry u-b-b entry-pagination {{post_class}}">
	<div class="row">
		{{#if image}}
		<figure class="col s12 entry-image">
			<a class="entry-image--link" href="{{post_url}}">
				<img  class="u-h-a-lg" src="{{url image}}" alt="{{title}}"/>
				<span class="entry-image--bg u-h-b-lg" style="background-image:url({{url image}})"></span>
				{{#is tag '#video-post-format'}}<span class="entry-video-play i-play"></span>{{/is}}
			</a>
		</figure>
		{{/if}}

		<div class="col s12 {{#if image}}entry-body{{/if}}">
			<div class="entry-category">{{tags limit="1"}}</div>
			<h2 class="entry-title"><a href="{{post_url}}" title="{{title}}">{{title}}</a></h2>

			<div class="entry-byline">
				<i class="i-chat"></i>
				<a class="entry-comments" href="{{post_url}}#post-comments">
					{{!-- Disqus Comments Count --}}
					<span class="disqus-comment-count mapache-disqus" data-disqus-url="{{post_url}}">0</span>
					{{!-- Facebook Comments Counts --}}
					<span class="fb-comments-count mapache-facebook" data-href="{{post_url}}">0</span>
					<span>Comments</span>
				</a>
				{{#author}}— by <strong><a class="entry-author" href="{{author_url}}">{{name}}</a></strong> —{{/author}}
				<time class="entry-timeago timestamp" datetime="{{date format='%B %e, %Y'}}">{{date format='time_ago'}}</time>
                &middot;
                {{reading_time}} {{L 'min_read'}}
			</div>

			<div class="entry-excerpt u-h-b-lg">
				{{excerpt words="50" continue="true"}}
			</div>
		</div>
	</div>
</article>
