{{!-- Add Layout --}}
{{#post}}
{{> header}}

<section class="container">
	<div class="post-wrapper">
		<div class="row">

			{{!-- Video Post format  --}}
			{{#is tag "#video-post-format"}}
				<div id="video-format" class="col s12 video-wrap">
					<aside class="video-responsive video-featured"></aside>
					<div class="video-content u-h-b-md" style="display:none">
						<span class="channel-name"></span>
						<span class="youtube-subscribe"><div class="g-ytsubscribe" data-channelid="" data-layout="default" data-count="default"></div></span>
					</div>
				</div>
			{{/is}}

			{{!-- Image Post Format  --}}
			{{#is tag "#image-post-format"}}
				{{#if image}}
					<figure class="col s12 post-image">
						<img src="{{image}}" alt="{{title}}"/>
					</figure>
				{{/if}}
			{{/is}}

			<div class="col s12 content">
				{{!-- Article content  --}}
				<article class="post">
					<header class="post-header">
						<h1 class="post-title">{{title editable="true"}}</h1>

						{{!-- author, date, tag --}}
						<div class="post-byline">
						{{#author}}
							<a class="post-author-avatar u-h-b-md" href="{{author_url}}" style="background-image:url({{#if avatar}}{{url avatar}}{{else}}{{theme_url "assets/img/user-image.png"}}{{/if}})"></a>
							By <strong><a href="{{author_url}}">{{name}}</a> — </strong>
						{{/author}}
							<time class="timestamp" datetime="{{date format='%B %e, %Y'}}">{{date format='%B %e, %Y'}}</time>
							in {{tags limit="1"}}
                            &middot;
                            {{reading_time}} min read
						</div>
					</header>

					{{!-- Add Post Image --}}
					{{#is tag!="#image-post-format"}}
						{{#if image}}<figure class="post-image"><img class="post-img" src="{{url image}}" alt="{{title}}" /></figure>{{/if}}
					{{/is}}

					{{!-- Post share top --}}
					{{> widget-post-share}}

					{{!-- Post content body --}}
					<div class="post-body">
						{{content editable="true"}}
					</div>

					{{!-- Post All Tags (category) --}}
					{{#if tags}}
						<div class="post-tags">
							{{tags before="Tagged as " and=" and "}}
						</div>
					{{/if}}

					{{!-- post Share Button and Suscribe newsletter --}}
					<div class="row share-subscribe">
						{{> widget-share}}
						{{!--> widget-newsletter--}}
					</div>

					{{!-- Post author info --}}
					{{> widget-post-author}}

					{{!-- post Comments Section --}}
					<div id="post-comments" class="post-comments">
						<div id="disqus_thread" class="mapache-disqus"></div>
						{{!-- Comments section for facebook --}}
						<div class="fb-comments mapache-facebook" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="5"></div>
					</div>

					{{!-- Post Related --}}
					{{!--> widget-post-related--}}
				</article>
			</div>

			{{> sidebar}}

		</div>
	</div>
</section>
{{/post}}

{{> footer}}